
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>SessionTimeout</title>
</head>
<body>
    <div> 
        <div class="row">
            <div class="col-md-12 text-center">
                <span>Your session is timeout. Please click here <a href="#" onclick="location.href='@Url.Action("Login","Account")'">Login</a> for login again.</span>
            </div>
        </div>
    </div>
</body>
</html>
